* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 600px;
  height: 400px;
  border: 2px solid red;
  display: grid;
  /*grid-template-columns: 100px 100px 100px;
  */
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 100px 150px;
  /*grid-row-gap: 10px;
  grid-column-gap: 20px;*/
  padding: 10px;
  justify-content: center;
  align-content: end;
  /*flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  column-gap: 40px*/
}
/*.box {
  width: 50px;
  height: 50px;
  border: 2px solid blue;
}*/
.box {
  width: 100px;
  height: 50px;
  border: 2px solid blue;
  align-items: center;
  justify-content: center;
}
.one {
  dispaly: flex;
  flex-flow: row wrap;
}
.two {
  flex-grow: 3;
}
.three {
  flex-grow: 5;
}
